@tailwind base;
@tailwind components;
@tailwind utilities;
/**************CSS_RESET****************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*********Utils*************************/
.gap-31{
    gap: 1.9375rem;
}
.border-radius-10{
    border-radius: 0.625rem;
}
.transform-scale-x-mines-one{
    transform: scaleX(-1);
}
.mouse-pointer{
    cursor: pointer;
}
.container{
    max-width: 1345px;
    margin: 0 auto;
}
.padd-top-bot-28{
    padding: 1.76rem 0;
}
.padd-top-bot-22{
    padding: 1.40625rem 0;
}
.padd-top-bot-12{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
/*******FLEX_STYLES*********/
.items-end{
    align-items: flex-end;
}
/*******WIDTH*****/
.width-77-percent{
    width: 77.3%;
}
.width-33-percent{
    width: 33.33333333333333%;
}
.width-24-percent{
    width: 24.3%;
}
.width-66-percent{
    width: 66.666666666666666%;
}
.width-58-percent{
    width: 58%;
}
.width-29-percent{
    width: 29%;
}
/*****typographi*******/
.white-space-no-wrap{
    white-space: nowrap;
}
.color-black-444{
    color: #444;
}
.background-color-light-green-ceeddc{
    background: #ceeddc;
}
.background-color-green-0AA550{
    background-color: #0AA550;
}
.color-gray-9b9b9b{
    color: #9b9b9b;
}
.color-green-0aa550{
    color: #0aa550;
}
.color-green-85BB23{
    color: #85BB23;
}
.color-gray-7a7a7a{
    color: #7a7a7a;
}
.color-red-fa6161{
    color: #fa6161;
}
.color-orange-fa701f{
    color: #fa701f;
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-400{
    font-weight: 400;
}
.font-size-18{
    font-size:1.125rem;
}
.font-size-27{
    font-size:1.7rem;
}
.font-size-32{
    font-size:2rem;
}
/***************************/
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
/********borders******/
.text-underline{
    text-decoration: underline;
}
.border-top-1-color-ddd{
    border-top: solid 1px #ddd;
}
.border-1-color-ddd{
    border: solid 1px #ddd;
}
.border-bot-1-color-ddd{
    border-bottom: solid 1px #ddd;
}
